@charset "utf-8";
@import "normalize";

body {
  text-align: center;
  font-size: 1em;
  font-family: monospace;
}

#search-form {
  margin: 1em;
}

#search-field {
  padding: 5px;
  text-align: center;
  outline: none;
  width: 100%;
  max-width: 400px;
  border: none;
  appearance: none;
  background-color: #eee;
}

#navigation-arrows {
  display: none;
  font-size: 1.5em;
  #navigation-arrow-left, #navigation-arrow-right {
    &:hover {
      cursor: pointer;
    }
  }
}

#result-container {
  margin: 1em 0;
  text-align: center;
  video {
    border: none;
    overflow: hidden;
    max-width: 100%;
  }
}

#powered-by-giphy,
#powered-by-tenor {
  display: none;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 1em;
  color: #ccc;
}
