%form#search-form
  %input#search-field{ :type => "text", :name => "q", :autocomplete => "off", :autocapitalize => "off", :autocorrect => "off", :spellcheck => "off", :placeholder => "search for jifs" }

#result-message
#result-url-container
  %span#result-url
  %span#result-url-download
#result-container
  %video#result-display{ :preload => "auto", :autoplay => true, :muted => true, :loop => true, :"webkit-playsinline" => true }

#navigation-arrows
  %span#navigation-arrow-left &#x21E0;
  %span#navigation-arrow-right &#x21E2;

#powered-by-giphy
  = image_tag "powered-by-giphy.png"

#powered-by-tenor
  via Tenor
