%form#search-form
  %input#search-field{ :type => "text", :name => "q", :autocomplete => "off", :autocapitalize => "off", :autocorrect => "off", :spellcheck => "off", :placeholder => "search for jifs" }

#result-message
#result-url-container
  %span#result-url
#result-container
  %video#result-display
